html,
body {
	font-family: "Montserrat", sans-serif;
	background-color: #009e46;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container-fluid {
	padding: 1% 3%;
}

/* NAVBAR CUSTOMISATIONS */
.navbar {
	background-color: #009e46;
}

.navbar-brand {
	padding: 0px;
}
.navbar-brand > img {
	height: 30px;
	padding-bottom: 5px;
	width: auto;
}

.fa-envelope {
	margin-left: 10px;
}

/* BODY */

.dream,
.build,
.grow {
	color: #fcfcfc;
	font-size: calc(2.5rem + 1.5vw);
	font-weight: 100;
	text-align: left;
	display: none;
	margin: 10%;
}

.seedling {
	font-family: "Montserrat Alternates", sans-serif;
	display: none;
	color: #fcfcfc;
	font-size: calc(5rem + 1.5vh);
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	position: relative;
	top: 10vh;
}

.coming-soon {
	text-align: center;
	font-size: 1.25rem;
	font-style: italic;
	font-weight: normal;
	margin-top: 10vh;
	display: none;
}

.white-leaf {
	position: absolute;
	top: 15%;
	right: -10%;
	opacity: 0.1;
	height: 69vh;
	width: auto;
}

@media (max-width: 420px) {
	.seedling {
		font-size: 4rem;
	}
}
