html,
body {
	font-family: "Montserrat", sans-serif;
	background-color: #fdfffd;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.centered-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.seedling-logo {
	width: 30vw;
	height: auto;
}

.coming-soon {
	text-align: center;
	font-size: 1rem;
}

@media (max-width: 800px) {
	.seedling-logo {
		width: 60vw;
	}
}

@media (max-width: 400px) {
	.seedling-logo {
		width: 90vw;
	}
}
